:root {
  --mc: #008850;
  --sc: #00e085;
  --lc: #f9f9f9;
  --dc: #444;
  --gc: #ddd;
}

.mainColor {
  color: var(--mc);
}

/* 슬라이드 깜박임 없애기 */
.main_slider .swiper-wrapper,
.main_slider .swiper-slide {
  transition-duration: 0.5ms;
}

body {
  color: var(--dc);
  letter-spacing: -.02em;
}


.inner {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.inner>* {
  flex: 1;
}

.w1200 {
  width: 1200px;
  margin: 0 auto;
}

.sc {
  padding: 100px 0;
  text-align: center;
}

.sc h2 {
  font-size: 30px;
  font-weight: 700;
  margin: 0 0 15px 0;
}

.sc .tit {
  font-size: 15px;
  font-weight: 300;
  margin: 0 0 40px 0;
}

.sc a.btn_s01 {
  display: inline-block;
  padding: 12px 28px;
  border: 1px solid #008850;
  color: #008850;
  font-size: 14px;
  font-weight: 500;
}

.Wrap {}

.TopBanner {
  background: var(--mc);
  color: var(--lc);
  height: 155px;
  overflow: hidden;
  transition: 0.5s;
}

.TopBanner .w1200 {
  position: relative;
  padding: 50px 0;
}

.TopBanner.on {
  height: 0;
}

.TopBanner h2 {
  font-size: 30px;
  font-weight: 700;
  margin: 0 0 10px 0;
}

.TopBanner span {
  color: var(--sc);
  font-weight: 400;
}

.TopBanner p {
  font-size: 15px;
  font-weight: 300;
}

.TopBanner .top_close_btn {
  position: absolute;
  top: 50px;
  right: 0;
  font-size: 30px;
}

.Header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}

.Header .hd_wrap {
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  color: var(--lc);
  line-height: 100px;
  transition: 0.5s;
}

.Header.on .hd_wrap {
  line-height: 80px;
  background: var(--lc);
  color: var(--dc);
}

.Header .hd_wrap:hover {
  background: var(--lc);
  color: var(--dc);
}

.Header .hd_wrap:hover h1 a {
  background: url(../assets/logo.png);
}

.Header.on .hd_wrap h1 a {
  background: url(../assets/logo.png);
}

.Header h1 {
  position: absolute;
  top: 0;
  left: 70px;
  font-size: 0;
}

.Header h1 a {
  display: inline-block;
  font-size: 0;
  background: url(../assets/logo_w.png);
  width: 188px;
  height: 22px;
  vertical-align: middle;
}

.Header .top_service {
  position: absolute;
  top: 0;
  right: 70px;
}

.Gnb>ul {
  display: flex;
  gap: 60px;
}

.Header .top_service {
  display: flex;
  gap: 40px;
}

.Header .top_service .project li {
  display: inline-block;
  font-size: 15px;
}

.Header .top_service .project li:hover {
  color: var(--mc);
}

.Header .top_service .project li~li::before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 13px;
  background: var(--gc);
  margin: 0 10px;
}

.Header .top_service strong:hover {
  color: var(--mc);
}

.Header .top_service strong.on {
  color: var(--mc);
}

.Header .top_service .lan {
  position: relative;
  margin: 0 20px 0 0;
  cursor: pointer;
}

.Header .top_service .lan .arrow {
  font-size: 10px;
  vertical-align: 0.2em;
  /* vertical-align으로 arrow 중간에 줌 */
}

.Header .top_service .lan .lan_box {
  display: none;
  position: absolute;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
  line-height: 1.45;
  border: 2px solid var(--mc);
  color: var(--dc);
  background: var(--lc);
  padding: 20px 30px;
}

.Header .top_service .lan.on .lan_box {
  display: block;
}

.Header .top_service .lan.on .arrow {
  transform: rotate(180deg);
}

.Header .top_service .top_search {
  position: relative;
  cursor: pointer;
}

.Header .top_service .top_search i {
  font-size: 21px;
}

.Header .top_search .search_box {
  display: none;
  position: absolute;
  top: 80px;
  right: -65px;
  line-height: 1;
  border: 1px solid var(--gc);
  background: var(--lc);
  text-align: center;
  padding: 35px 0;
  width: 550px;
}

.Header .top_search .search_box.on {
  display: block;
}

.Header .top_search .search_box::before {
  content: "";
  position: absolute;
  top: -10px;
  right: 65px;
  width: 20px;
  height: 20px;
  background: var(--lc);
  border-top: 1px solid var(--gc);
  border-left: 1px solid var(--gc);
  transform: rotate(45deg);
}

.Header .top_search .search_box input[type='text'] {
  font-size: 20px;
  width: 400px;
  border: none;
  outline: none;
  border-bottom: 2px solid var(--dc);
}

.Header .top_search .search_box button {
  background: transparent;
  border: none;
  outline: none;
  font-size: 30px;
}

.Header .top_search .search_box button i {
  font-size: 30px;
}

.MainVisual {
  position: relative;
  padding: 155px 0 0 0;
  transition: 0.5s;
}

.MainVisual.on {
  padding: 0;
}

.main_slider figure {
  position: relative;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.main_slider figure .w1200 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 0 0 3px var(-dc);
  color: var(--lc);
}

.main_slider .itm01 {
  background-image: url(../assets/main_visual01.jpg);
}

.main_slider .itm02 {
  background-image: url(../assets/main_visual02.jpg);
}

.main_slider .itm03 {
  background-image: url(../assets/main_visual03.jpg);
}

.main_slider figure h2 {
  font-size: 50px;
  font-weight: 900;
  margin: 0 0 20px 0;
  transform: translateY(100px);
  opacity: 0;
}

.main_slider figure.on h2 {
  transform: translateY(0);
  opacity: 1;
  transition: 0.5s;
}

.main_slider figure span {
  display: block;
  margin: 10px 0;
}

.main_slider figure p {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.45;
  margin: 0 0 50px 0;
  transform: translateY(100px);
  opacity: 0;
}

.main_slider figure.on p {
  transform: translateY(0);
  opacity: 1;
  transition: 0.5s 0.5s;
}

.main_slider figure a {
  display: inline-block;
  padding: 10px 25px;
  border: 1px solid var(--lc);
  color: var(--lc);
  font-size: 13px;
  transform: translateY(100px);
  opacity: 0;
}

.main_slider figure.on a {
  transform: translateY(0);
  opacity: 1;
  transition: 0.5s 1s;
}

.slide_dots li.on {
  color: var(--mc);
}

/* *{
  outline: 1px solid ;
} */

.MainVisual .main_slider_num {
  position: absolute;
  bottom: 200px;
  left: 50%;
  margin: 0 0 0 -600px;
  color: var(--lc);
  font-size: 35px;
  z-index: 999;
}

.MainVisual .main_slider_num span {
  font-size: 18px;
  color: var(--gc);
}

.MainVisual .slide_handler button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
  color: #fff;
  font-size: 0px;
  font-weight: 300;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  z-index: 999;
}

.MainVisual .slide_handler button::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 20px;
  height: 20px;
  border-top: 1px solid #f9f9f9;

}

.MainVisual .slide_handler button:first-child::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 60px;
  height: 0;
  border-top: 1px solid #f9f9f9;
}

.MainVisual .slide_handler button:last-child::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 60px;
  height: 0;
  border-top: 1px solid #f9f9f9;
}

.MainVisual .slide_handler button:first-child::after {
  left: 0;
  transform: rotate(-45deg);
  transform-origin: left top;
}

.MainVisual .slide_handler button:last-child::after {
  right: 0;
  transform: rotate(45deg);
  transform-origin: right top;
}

.MainVisual .slide_handler button:first-child {
  margin: 0 0 0 -800px;
}

.MainVisual .slide_handler button:last-child {
  margin: 0 0 0 700px;
}

.MainVisual .num {
  position: absolute;
  bottom: 250px;
  left: 50%;
  margin: 0 0 0 -600px;
  color: #fff;
  font-size: 35px;
}

.MainVisual .num span {
  font-size: 20px;
  color: #ddd;
}


.MainVisual .slide_dots {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0 0 0 600px;
  transform: translate(-100%, -50%);
  color: #f9f9f9;
  font-size: 18px;
  text-align: right;
  font-weight: 300;
  /* 글자수 달라도 오른쪽으로 붙게 */
  z-index: 999;
}

.MainVisual .slide_dots li {
  margin: 0 0 10px 0;
}

.MainVisual .slide_dots li span {
  font-size: 0;
}

.MainVisual .slide_dots li.on span {
  font-size: 18px;
}

.MainVisual .slide_dots li.on::after {
  background: #fff;
}

.MainVisual .slide_dots>li::after {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  margin: 0 0 0 10px;
  vertical-align: -0.2em;
}

.MainContent .inner figure {
  float: left;
  width: calc(100% / 3);
}

.MainContent .inner figure .thumb {
  overflow: hidden;
  margin: 0 0 40px 0;
}

.MainContent .inner figure img {
  transition: 0.5s;
}

.MainContent .inner figure:hover img {
  transform: scale(1.1);
}

.MainContent .inner .des {
  position: relative;
  font-size: 17px;
  font-weight: 500;
  margin: 0 0 20px 0;
}

/* thumb에 하면 안된다. overflow:hidden 있으니까 */
.MainContent .inner .des::before {
  content: "";
  position: absolute;
  top: -60px;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 40px;
  background: #008850;
}

.MainContent .inner p {
  font-size: 15px;
  font-weight: 300;
  margin: 0 0 20px 0;
  line-height: 1.4;
}

.Portfolio {
  text-align: left;
  background: url(../assets/section_bg.jpg) repeat-x;
}

.Portfolio .portfolio_left_slide {
  overflow: visible;
}

.Portfolio .wrap_port {
  display: flex;
  width: calc((100% - 1200px) / 2 + 1200px);
  /* margin-left: calc((100% - 1200px) / 2); */
  margin-left: auto;
  overflow: hidden;
}

.Portfolio .wrap_port .left {
  width: 400px;
}

.Portfolio .wrap_port .right {
  display: flex;
  flex-direction: column;
  width: calc(100% - 450px);
  padding: 0 0 0 50px;
}

.Portfolio .portfolio_right_slide {
  margin: auto 0 0 0;
  /* flex먹혀야 마진 먹힘 */
}

.Portfolio .wrap_port .right .title {
  color: var(--lc);
  margin-top: 50px;
}


.Portfolio .slider_handler {
  display: inline-block;
  border: 1px solid #f9f9f9;
  font-size: 0;
  margin-top: 70px;
}

.Portfolio .slider_handler i {
  font-size: 20px;
  color: #f9f9f9;
  padding: 10px;
  cursor: pointer;
}

.Portfolio .slider_handler i~i {
  border-left: 1px solid #f9f9f9;
}

.Portfolio .wrap_port strong {
  display: block;
  background: transparent;
  line-height: 50px;
}

.Portfolio .portfolio_left_slide img {
  box-shadow: 20px 20px 20px rgba(0, 0, 0, .4);
}

.Solution {
  background: var(--lc);
}

.Solution .container {
  position: relative;
}

.Solution .center_slider img {
  margin: 0 auto;

}

.Solution .center_slider figure {
  width: 1200px !important;
  opacity: 0.3;
}

.Solution .center_slider figure.on {
  opacity: 1;
  transition: 1s;
}

.Solution .content_box>div {
  display: none;
}

.Solution .content_box>div.on {
  display: block;
}

.Solution .case {
  position: absolute;
  left: 50%;
  top: 100px;
  background: #fff;
  padding: 50px;
  margin: 0 0 0 -500px;
  width: 300px;
  text-align: left;
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.25);
  z-index: 999;
}

.Solution .case::after {
  content: "";
  position: absolute;
  top: 60px;
  left: -30px;
  width: 60px;
  height: 2px;
  background: #008850;
}

.Solution .content_box {
  margin-bottom: 20px;
}

.Solution .content_box strong {
  font-size: 25px;
  font-weight: 500;
  display: block;
  min-height: 60px;
  line-height: 1.2;
  margin-bottom: 10px;
  /* strong의 내용에 상관없이 높이를 줘서 아래 자세히보기가
  같은 위치에 있도록 */
}

.Solution .content_box p {
  font-size: 17px;
  font-weight: 300;
  line-height: 1.45;
  margin-bottom: 30px;
  min-height: 170px;
  /*p의 내용에 상관없이 높이를 줘서 아래 자세히보기가
  같은 위치에 있도록 */
}

.Solution .solution_slider_num {
  font-size: 40px;
  color: #008850;
}

.Solution .solution_slider_num span {
  font-size: 16px;
  color: #555;
}

.Solution .slider_handler {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 1280px;
  z-index: 999;
  /* max-width때문에 그 속에서 슬라이드 드래그로 안됨 */
}

.Solution .slider_handler i {
  padding: 15px 25px;
  background: rgba(0, 0, 0, 0.25);
  color: #f9f9f9;
  font-size: 30px;
  cursor: pointer;
}

.Solution .slider_handler i:first-child {
  float: left;
}

.Solution .slider_handler i:last-child {
  float: right;
}

.Solution .solution_dots {
  display: flex;
  justify-content: center;
  grid-gap: 20px;
  font-size: 0;
  margin: 20px 0 0 0;
}

.Solution .solution_dots>li {
  width: 20px;
  height: 20px;
  background: var(--gc);
}

.Solution .solution_dots>li.on {
  background: var(--mc);
}


.Promotion {
  padding: 100px 0;
  background: url(../assets/section4_bg.jpg) no-repeat left bottom;
  text-align: center;
}

.Promotion .container {
  position: relative;
  width: 800px;
  margin: 0 auto;
}

.Promotion .movie_case {
  width: 800px;
  height: 450px;
  margin: 0 auto 80px auto;
}

.Promotion .txt {
  display: flex;
  width: 800px;
}

.Promotion .txt li {
  flex: 1;
}

.Promotion .txt strong {
  display: block;
  font-size: 22px;
  color: #00e085;
  margin-bottom: 15px;
}

.Promotion .txt span {
  display: block;
  font-size: 15px;
  color: #f9f9f9;
}

.Promotion .movie_handler {
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translateX(-50%);
}

.Promotion .movie_handler button {
  border: none;
  outline: none;
  background: transparent;
  font-size: 0;
  cursor: pointer;
}

.Promotion .movie_handler button::after {
  content: "\ea3e";
  font-family: 'xeicon';
  font-size: 50px;
  color: #fff;
  background: #008850;
  padding: 20px;
  border-radius: 50%;
}

.Promotion .movie_handler button.on::after {
  content: "\ea3b";
  font-family: 'xeicon';
  font-size: 50px;
}


.News .inner {
  gap: 30px;
}

.News .inner>figure {
  flex: 1;
  text-align: left;
}

.News .inner figure img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  margin: 0 0 20px 0;
}

.News .inner figure .sort {
  display: block;
  margin: 0 0 15px 0;
  font-size: 14px;
  color: #008850;
}

.News .inner figure .title {
  margin: 0 0 20px 0;
  font-size: 19px;
  font-weight: 500;
  line-height: 1.45;
}

.News .inner figure:hover .title {
  text-decoration: underline;
}

.News .inner figure .date {
  font-size: 13px;
  font-weight: 300;
}

.Footer {
  position: relative;
  border-top: 1px solid #ddd;
  line-height: 80px;
}

.Footer .ft_top {
  border-bottom: 1px solid #ddd;
}

.Footer ul>li {
  display: inline-block;
}

.Footer .ft_top .left li~li::before {
  content: "";
  display: inline-block;
  width: 2px;
  height: 2px;
  background: #008850;
  margin: 0 15px;
  vertical-align: middle;
}

.Footer .ft_top .left span {
  font-size: 20px;
}

.Footer .ft_top .right {
  margin: 0 0 0 auto;
  text-align: right;
}


.Footer .ft_top .right li a {
  position: relative;
  display: block;
  padding: 0 30px 0 20px;
}

.Footer .ft_top .right li a::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 10px;
  height: 2px;
  background: #008850;
}

.Footer .ft_top .right li a::after {
  content: "";
  position: absolute;
  top: calc(50% - 4px);
  right: 4px;
  width: 2px;
  height: 10px;
  background: #008850;
}

.Footer .ft_top .right li.on a::after {
  display: none;
}

.Footer .ft_bottom {
  line-height: 1;
  padding: 30px 0;
}

.Footer .ft_bottom .inner>* {
  flex: none;
}

.Footer .ft_bottom .family_link {
  padding: 8px 0 0 0;
  order: 2;
}

.Footer .ft_bottom .family_link select {
  background: #444444;
  color: #f9f9f9;
  font-size: 14px;
  text-transform: uppercase;
  padding: 0 15px;
}

.Footer .ft_bottom .left {
  font-size: 15px;
}

.Footer .ft_bottom .left address {
  margin: 0 0 5px 0;
}

.Footer .ft_bottom .right {
  margin: 0 0 0 auto;
}

.Footer .ft_bottom .right i {
  font-size: 20px;
  color: #f9f9f9;
  background: #444444;
  padding: 10px;
  border-radius: 50%;
  margin: 0 10px 0 0;
}

.Footer .ft_top .content {
  position: absolute;
  top: -80px;
  left: 50%;
  transform: translateX(-50%);
}

.Footer .ft_top .content>ul {
  display: none;
  width: 1200px;
  height: 80px;
  background: #f9f9f9;
  border: 1px solid #ddd;
  padding: 0 0 0 50px;
}

.Footer .ft_top .content>ul>li {
  margin: 0 30px 0 0;
}

.Footer .ft_top .content>ul.on {
  display: block;
}

.to_top {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  bottom: 100px;
  right: 100px;
  font-size: 30px;
  padding: 10px;
  background: var(--mc);
  color: var(--lc);
  border-radius: 50%;
  cursor: pointer;
  z-index: 999;
  transition: 0.5s;
}

.to_top.on {
  visibility: visible;
  opacity: 1;
}

.popup {
  display: none;
  /* 팝업쿠키 해놨으니까 none살려놔야함 */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  background: rgba(0, 0, 0, 0.25);
  z-index: 9999;
}

.popup .pop_case {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.popup .pop_close {
  background: #fff;
  padding: 5px 10px;
}

.popup .pop_close button {
  float: right;
  border: none;
  background: #008850;
  color: #fff;
}

/* * {
  outline: 1px solid pink;
} */